@model TicketManager.MVC.Models.tickethistory

@{
    ViewBag.Title = "History";
}

<h2>Ticket # @ViewBag.TicketOwner - New History Action</h2>

<link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"  />
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>

<script type="text/javascript">

    jQuery(function ($) {
        $.validator.addMethod('date',
        function (value, element) {
            if (this.optional(element)) {
                return true;
            }

            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
    });


 $(function () {
     $("#TicketHistoryDate").datepicker({ dateFormat: 'dd/mm/yy' });
     $("#TicketHistoryDate").datepicker('setDate', new Date());
 });

   

$(function () {
    $(".abc123").hide();
    $("#bFinalizar").change(function () {
        if ($(this).is(":checked")) {
            $(".abc123").show();
        }
        else {
            $(".abc123").hide();
        }
    });
})

</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>tickethistory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="control-label col-md-2"># @ViewBag.TicketOwner</p>
            <div class="col-md-10">
                @Html.DropDownList("TicketId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketHistoryUserId, "TicketHistoryUserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TicketHistoryUserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TicketHistoryUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketHistoryDetail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketHistoryDetail, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                @Html.ValidationMessageFor(model => model.TicketHistoryDetail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketHistoryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketHistoryDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TicketHistoryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Finalizar?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("bFinalizar", false, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

<div class="abc123">
       <div class="form-group">
           @Html.Label("Status Detalhe Finalizar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusDetailId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { TicketOwner = @ViewBag.TickeOwner } )
</div>




